---

---

<section id="About">
  I'm passionate about technology I am an empathy person
  and kind and proactive. My strength is my vocation to help people hand by hand
  or building new things.
</section>
