---

---

<div id="Contact" class="flex gap-x-5 justify-end">   
  <a
    href="https://www.linkedin.com/in/juan-antonio-p%C3%A9rez-lores-b87737284/"
    target="_blank">Linkedin</a
  >
  <a href="https://github.com/scailancrei" target="_blank">Github</a>
</div>


