---

---

<section  id="Projects" class="bg-gray-100 text-black grid grid-cols-1 grid-rows-2 *:m-2 ">

  <h2 class="text-gray-500">Projects I'm most proud of:</h2>
  <section>
    <section class="flex justify-center">
      <h1>My projects</h1>
    </section>
    <section class="flex justify-center">
      <h1>My projects</h1>
    </section><section class="flex justify-center">
      <h1>My projects</h1>
    </section><section class="flex justify-center">
      <h1>My projects</h1>
    </section>
  </section>
  

 
</section>
